@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;400;500;700;800&display=swap');

/*color map to use in the webpage*/
$colors: (
    dark-magenta: hsl(300,43%,22%),
    soft-pink: hsl(333,80%,67%),
    grayish-magenta: hsl(303,10%,53%),
    light-grayish-magenta: hsl(300,24%,96%)
);

/*function to choose a color from the colors map*/
@function color($color-name){
    @return map-get($colors, $color-name);
}

/*mixins*/
$galaxy-fold:280px;

$ipad: 768px;
$ipad-pro:1024px;

$macOSX:1920px;

/*desktop*/
$desktop-1280: 1280px;
$desktop-1366: 1366px;
$desktop-1440:1440px;
$desktop-1536: 1536px;
$desktop-1680: 1680px; /*1600px to 1660px*/

@mixin desktop{
    @media (min-width:1280px){
        @content;
        }
}
@mixin screen-1366{
    @media (min-width:1366px){
        @content;
        }
}
@mixin screen-1440{
    @media (min-width:1440px){
        @content;
        }
}
@mixin screen-1536{
    @media (min-width:1536px){
        @content;
        }
}
@mixin screen-1680{
    @media (min-width:1680px){
        @content;
        }
}

@mixin galaxy-fold{
    @media (max-width:#{$galaxy-fold}){
    @content;
    }
}
@mixin surface-duo{
    @media (min-width: 540px) and (max-width:541px){
        @content;
        }
}
@mixin mobile-414{
    @media (min-width:414px) and (max-width:415px){
        @content;
    }
}
@mixin mobile-411{
    @media (min-width:411px) and (max-width:412px){
    @content;
    }
}

@mixin mobile-375{
    @media (min-width:375px) and (max-width:376px){
        @content;
    }
}
@mixin mobile-320{
    @media (min-width:320px) and (max-width: 320px){
        @content;
    }
}
/*CSS*/
html{
    font-family: 'Spartan', 'sans-serif';
    height:100%;

    @include desktop{
        background-image: url(../images/bg-pattern-top-desktop.svg),url(../images/bg-pattern-bottom-desktop.svg);
        background-position: left top, right bottom;
        background-repeat: no-repeat, no-repeat;
        padding:0;
    }

    background-image: url(../images/bg-pattern-top-mobile.svg),url(../images/bg-pattern-bottom-mobile.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    padding:0;


}
body{
    height:100%;
    text-align: center;

    .global-wrapper{
        height:100%;
    }

    .top-half{
        @include desktop{
            display:grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .bottom-half{
        box-sizing: border-box;
        margin-top:3em;
        .review-grid{
            @include desktop{    
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr ;
                    height:20rem;

                    #review-one{
                        grid-column:1/2;
                        width:80%;
                        align-self:start;
                        justify-self: end;
                        height:70%;
                        border-radius: 8px;
                    }
                    #review-two{
                        grid-column: 2/3;
                        width:80%;
                        justify-self: end;
                        align-self: center;
                        height:70%;
                        border-radius: 8px;
                    }
                    #review-three{
                        grid-column: 3/4;
                        width:80%;
                        justify-self: end;
                        align-self:end;
                        height:70%;
                        border-radius: 8px;
                    }

                    .reviewer-information{
                        font-size:1.5em;

                        img{
                            width:3em;
                            margin-right:1.5em;
                            margin-left:-13em;

                            @include screen-1366{
                                margin-left:-14em;
                            }

                            @include screen-1440{
                                margin-left:-16em;
                            }
                            @include screen-1536{
                                margin-left:-17em;
                            }
                            @include screen-1680{
                                margin-left: -20em;
                            }
                            
                        }
                    }

                    .review{
                        font-size:1.5em;
                    }

                    .grid-two-item{
                        display:grid;

                        .reviewer-information{
                            justify-self: center;
                            margin-left:0;
                        }

                        .name, .designation{
                            margin-left:1em;

                            @include screen-1366{
                                transform: translateX(-1em);
                            }
                            @include screen-1440{
                                transform: translateX(-2em);
                            }
                            @include screen-1680{
                                transform: translateX(-3em);
                            }
                            
                        }
                        .review{
                            justify-self: center;
                        }

                    }
            }
        }

    }
    


    #stat-claim-heading{
        color: color(dark-magenta);
        font-weight: 700;
        font-size: 1.5em;
        text-align: center;
        padding: 1em 2em 0 2em;

        @include desktop{
            grid-column:1/2;
            font-size:3.5em;
            font-weight:700;
            text-align: left;
            margin-top:1.3em;
            margin-left:0;
            padding:2rem 8rem 0 6rem;
        }
    }

    #intro{
        color: color(dark-magenta);
        font-size:0.75em;
        text-align:center;
        padding:0 3em 0 3em;

        @include desktop{
            grid-column:1/2;
            font-size:1.4em;
            text-align: left;
            padding: 0 8rem 0 6rem;
            margin-top:-2rem;
            letter-spacing:0.1px;
            line-height: 1.5em;
        }
    }

    .grid-container{

        padding: 0 2.5em 0 2.5em;
        margin-top:2em;
        margin-bottom:0;


        .grid-item{
            background-color: color(light-grayish-magenta);
            border-radius: 5px;
            box-sizing: border-box;
            padding-top:0.5em;
            padding-bottom:1px;
            margin-bottom:0.8em;
            text-align: center;

            
            .rating-text{
                color: color(dark-magenta);
                font-weight: 700;
                font-size: 11px;

                @include desktop{
                    font-size:1.2em;
                }
            }
        }



    }

    .star-grid{

        @include desktop{
            grid-column:2/3;
            grid-row:1/3;

            display:grid; /*To make the container a grid itself*/
            grid-template-rows:0.8fr 1fr 1fr 1fr 0.5fr;

            .grid-item{
                padding: 1.5em 2.5em 1.5em 2.5em;
                border-radius:8px;
            }
            #rating-one{
                grid-row:2/3;
                height:5em;
                width:80%;
                justify-self: start;
                align-self: center;
            }

            #rating-two{
                grid-row:3/4;
                height:5em;
                width:80%;
                justify-self: center;
                align-self: center;
                
            }
            #rating-three{
                grid-row:4/5;
                height:5em;
                width:80%;
                justify-self:end;
                align-self:center;
                
            }
            .stars{
                display:inline;

                img{
                    width:1.5em;
                }
                margin-right:2em;
            }
            .rating-text{
                display:inline;
                padding-bottom:1.5em;
            }
         
        }

       

    }

    



    .grid-two-item{
        background-color: color(dark-magenta);
        border-radius: 5px;
        font-size:11px;
        padding: 1em 2em;
        margin-bottom:1.2em;




        .name{
            color: color(light-grayish-magenta);
            font-weight: 700;
            display: block;
            margin-left:-3.5em;
            margin-top:-3em;
            padding: 1px 1px;


        }
        .designation{
            color: color(soft-pink);
            display:block;
            margin-left:-3.5em;
            padding: 1px 1px;




        }

        .review{
            color: color(light-grayish-magenta);
            line-height:1.5em;
            text-align: left;
            margin-top: 1em;
            margin-left:0.5em;
            margin-right:0.5em;
            margin-bottom: 1.5em;
        }
    }

    .profile-picture img{
        margin-top:2em;
        border-radius:50%;
        width:2.5em;
        margin-left:-16em;



    }

    .reviewer-information{

        @include surface-duo{
            transform: translateX(-8em);
        }
        @include mobile-414{
            transform: translateX(-2.5em);
        }
        @include mobile-411{
            transform: translateX(-2em);
        }

        @include mobile-375{
            transform: translateX(-0.8em);
        }

        @include mobile-320{
            transform: translateX(2em);
        }
        @include galaxy-fold{
            transform: translateX(3.5em);
        }

     
    }

    

}